.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    padding: 20px;
    background-color: #f5f5f5;
    ;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h3 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.login_input input[type="text"] {
    font-size: 18px;
    border: 2px solid lightgrey;
    border-radius: 8px;
    outline: none;
    width: 98%;
    height: 50px;
    text-indent: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.login_input input[type="password"] {
    font-size: 18px;
    border: 2px solid lightgrey;
    border-radius: 8px;
    outline: none;
    width: 98%;
    height: 50px;
    text-indent: 15px;
    margin-bottom: 20px;
}


.submit_button input {
    width: 98%;
    padding: 20px;
    background-color: #4285F4;
    color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
    /* 추가: 박스 모델에 패딩과 테두리 포함 */
}

.submit_button input[type="submit"]:hover {
    background-color: #75a3d4;
}