body {
    font-family: 'NanumSquareL', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f4ff;
    margin: 0;
    padding: 0;
}

main {
    position : relative;
    margin: 20px auto;
    width: 1280px;
    height: 760px;
    background-color: #ffffff; /* 메인 배경 색상 */
    border: 2px solid #90caf9; /* 테두리 색상 변경 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    position : absolute;
    top : 70px;
    left : 35%;
    font-family: 'NanumSquareB', Arial, sans-serif;
    color: #0d47a1;
    margin : 10px, 0 ,20px, 0;
    padding : 10px, 0 , 20px, 0;
}


.content-container {
    position : absolute;
    width: 100%; /* 컨테이너가 부모 너비에 맞게 확장 */
    top : 25%;
    left : 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

textarea {
    width: 70%;
    min-height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
    align-items: center; 
}

button {
    background-color: #1976d2;
    color: #ffffff;
    font-size: 16px;
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

button:hover {
    background-color: #0d47a1;
}

.response {
    position : absolute;
    bottom : 15%;
    left: 15%;
    width: 70%;
    padding: 15px;
    background-color: #e3f2fd;
    border-radius: 5px;
    border: 1px solid #90caf9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.response h3 {
    font-family: 'NanumSquareB', Arial, sans-serif;
    color: #0d47a1;
    margin : 10px,0,10px,0;
}

.response p {
    color: #1976d2;
    margin: 20px;
    line-height: 1.5;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 15px;
    }

    textarea {
        min-height: 120px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}