#logo {
    text-align: left;
    /* 로고를 오른쪽으로 이동 */
    margin-left: 100px;
    /* 오른쪽 여백 조정 */
}

#nav1 * {
    padding: 0;
    margin: 0
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px
}

#auth {
    font-size: 16px;
}

#auth a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 5px;
}

nav {
    width: 70%;
    height: 80px;
    background-color: #4285F4;
    margin: 10px auto;
    /* 가로 중앙 정렬 */
    position: relative;
    /* 부모 요소로서 위치 고정 */
}

#nav1 {
    text-align: center
        /* ul의 자식을 중앙 정렬 */
}

#nav1>ul {
    display: inline-block
        /* ul의 너비를 내용에 맞게 설정 */
}

#nav1>ul li {
    float: left;
    padding: 0 25px;
    line-height: 80px
}

#nav1 ul li a:hover {
    color: #000;
    /* 호버 시 색상 변경 */
}