body {
  background-color: #f9f9f9;
}


/*
가입화면 전체 부분
*/
.request {
  position: relative; /* 자식 요소의 위치를 상대적으로 설정 */
  width: 1280px;
  height: 600px;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
}

/*
  가입 화면 내 이미지 부분
  */
.inviteImg {
  position: absolute; /* 절대 위치 지정 */
  text-align: center;
  white-space: nowrap; /* 줄바꿈 방지 */
  left: 5%;
}

.inviteImg img {
  max-width: 100%;
  height: auto;
}

/*
  가입 화면 내 텍스트 부분
  */
.inviteMain {
  position: absolute; /* 절대 위치 지정 */
  display: flex;
  align-items: center;
  width: 600px;
  height: 500px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  right: 5%;
}

.inviteMain textarea {
  resize: none;
}

.applicationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.applicationForm label {
  font-size: 16px;
  font-weight: bold;
}


.inviteTable td{
  width: 300px;
  padding-left: 30px;
}


.submitBtn {
  position: absolute; /* 절대 위치 지정 */
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  right: 5%;
  bottom: 1%;
}

.submitBtn {
  background-color: #357ae8;
}
