/* 전체 레이아웃 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* 메인 콘텐츠 */
main {
    margin: 20px auto;
    width: 80%;
    max-width: 1280px;
    background-color: #fff;
    border: 2px solid #ccc;
    padding : 16px;
    border-radius: 5px;
}

/* 폼 스타일 */
form {
    display: flex;
    /*세로 방향으로 진행 linear속성 같은 느낌*/
    flex-direction: column;
    margin: 20px auto;
}

.activity thead {
	display: none;
}

.activity tbody{
	text-align: left;
}

.activity_title {
    font-weight: bold;
    font-size: 110%;
    border-bottom: 0px;
    height: 20px; /* 고정 높이 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
}
.activity_content {
    vertical-align: top;
    height: 80px;
    overflow: hidden; /* 넘치는 내용 숨김 */
}

.activity_image {
    width: 100%; /* 셀의 너비에 맞춤 */
    height: 100px; /* 고정 높이 설정 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    position: relative; /* 이미지 잘리기 위한 위치 조정 */
}

.activity_image img {
    width: 100%; /* 셀 너비에 맞춤 */
    height: 100%; /* 셀 높이에 맞춤 */
    object-fit: cover; /* 비율 유지하며 셀 크기에 맞춤 */
    object-position: center; /* 중심부 기준으로 잘림 */
}

table {
    width: 100%; 
    max-width: 920px;
    min-width: 860px;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid #444444;
    margin: 0 auto; /* 수평 중앙 정렬 */
}

th, td {
    border-bottom: 1px solid #444444;
    padding: 8px;
}

caption {
    display: none;
}


.list_bottom_btnbox {
    display: flex;
    /* Flexbox 사용 */
    justify-content: end;
    /* 중앙 정렬 */
    margin: 10px;
}

.bottom_paging_box {
    display: flex;
    /* Flexbox 사용 */
    justify-content: center;
    /* 중앙 정렬 */
    align-items: flex-end;
    /* 수직 중앙 정렬 */
    margin: 10px;
    gap: 5px;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
}

/* 버튼 스타일 */
button {
    margin: 0px;
    font-size: 10px;
    width: 80px;
    height: 40px;
    background-color: #4285F4;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 0 0 10px;
}

button:hover {
    background-color: #2b5aa4;
}

.button_cancle {
    background-color: #7e7e7e;
}

.button_cancle:hover {
    background-color: #494646;
}

form .button-container {
    /* 버튼들을 가로로 정렬 */
    display: flex;
    justify-content: flex-end;
}
